<h1>Questions</h1>

<div id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
    <p>
      <%= link_to "Delete", question_path(question.id), data: { turbo_method: :delete } %>
    </p>
  <% end %>
</div>

<%= link_to "New question", new_question_path %>
