<div>
  <strong style="display: inline-block;">Result:</strong>
  <p style="background-color: <%= quiz_session.result['background_color'] %>; color: <%= quiz_session.result['text_color'] %>; padding: 5px; display: inline-block; margin: 0;">
    <%= quiz_session.result['text'] %>
  </p>
</div>