<h1>Editing quiz session</h1>

<%= render "form", quiz_session: @quiz_session %>

<br>

<div>
  <%= link_to "Show this quiz session", @quiz_session %> |
  <%= link_to "Back to quiz sessions", quiz_sessions_path %>
</div>
